<!-- Dummy Navigation to be worked in later -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="https://rootedweb.com/wp-content/uploads/2019/03/RootedWeb_logo-REV_1.png" alt="logo" style="width:40px;">
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Link</a>
    </li>
  </ul>
</nav>
